.container{
    background-image: url(./static/BlurryOfficeImage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 100%;
    display: inline;
    margin-top: -95px;
  }
  .foreground-container {
    position: relative;
    z-index: 1;
    padding: 10px 10px;
    background-color:rgba(0, 0, 0, 0.44);
    color: #fff;
    margin-top: 95px;
    margin-left: 215px;
    height: 79vh;
    width: 80.5%;
  }
  a{
    text-decoration: none;
  }